<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>친구 추가</title>
</head>
<body>
  <h1>친구 추가</h1>

  <form action="/add-friend" method="POST">
    <label for="friendName">친구 이름 : </label>
    <input type="text" id="friendName" name="friendName" required><br><br>

    <input type="submit" value="추가">
  </form>
</body>
</html>
